---
import { Image } from "astro:assets";
import type { ImageMetadata } from "astro";
import ImageSkeleton from "@/components/ImageSkeleton.astro";
import type { Podcast } from "@/types/resources";

interface Props {
  podcast: Podcast;
}

const { podcast } = Astro.props;
const viewTransitionName = podcast.slug ? podcast.slug : podcast.title.replaceAll(" ", "");
---

<a
  href={podcast.url}
  class="flex h-full w-full flex-col items-start gap-4 rounded-xl border bg-card p-4 text-card-foreground shadow-sm transition duration-300 hover:-translate-y-1"
>
  <ImageSkeleton class="aspect-square w-full shrink-0 rounded-xl bg-muted">
    <Image
      src={podcast.image as ImageMetadata}
      alt={podcast.title}
      transition:name={viewTransitionName}
      loading="lazy"
      width={256}
      class="block size-full rounded-xl object-contain"
    />
  </ImageSkeleton>
  <div class="flex w-full min-w-0 flex-1 flex-col items-start justify-start">
    <h3 class="line-clamp-1 font-bold">{podcast.title}</h3>
    <p class="mt-2 line-clamp-4 text-sm" title={podcast.longDescription}>
      {podcast.longDescription}
    </p>
  </div>
</a>
